.idea/*
!.idea/encodings.xml
!.idea/codeStyles
!.idea/inspectionProfiles

# Custom content
vendor
*.log
*.zip
!PluginInstallation/**/*.zip

build
./Packlink.zip
Packlink/Infrastructure
Packlink/BusinessLogic
Packlink/Tests/Core
Packlink/Resources/views/backend/_resources