.idea/*
!.idea/encodings.xml
!.idea/codeStyles
!.idea/inspectionProfiles

# Custom content
vendor
*.log
*.zip
!PluginInstallation/**/*.zip

build
./Packlink.zip
Packlink/Infrastructure
Packlink/BusinessLogic
Packlink/Brands
Packlink/Tests/Core
Packlink/Resources/views/backend/_resources/packlink/countries/*
Packlink/Resources/views/backend/_resources/packlink/brand/*
Packlink/Resources/views/backend/_resources/packlink/css/*
Packlink/Resources/views/backend/_resources/packlink/images/*
Packlink/Resources/views/backend/_resources/packlink/js/*
Packlink/Resources/views/backend/_resources/packlink/location/*
Packlink/Resources/views/backend/_resources/packlink/templates/*
!Packlink/Resources/views/backend/_resources/packlink/countries/.gitkeep
!Packlink/Resources/views/backend/_resources/packlink/brand/.gitkeep
!Packlink/Resources/views/backend/_resources/packlink/css/.gitkeep
!Packlink/Resources/views/backend/_resources/packlink/images/.gitkeep
!Packlink/Resources/views/backend/_resources/packlink/js/.gitkeep
!Packlink/Resources/views/backend/_resources/packlink/location/.gitkeep
!Packlink/Resources/views/backend/_resources/packlink/templates/.gitkeep