<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <version>1.4.1</version>
    <label>Packlink</label>
    <label lang="de">Packlink</label>
    <description>Packlink PRO is your best ally through your e-commerce journey! From importing orders and printing labels, to picking and packing orders, this platform centralizes all shipping steps to help you streamline and optimize your whole delivery process. Over 20.000 online stores already use Packlink PRO, saving up to 70% on every sending with the Packlink PRO shipping module.</description>
    <description lang="de">Packlink PRO ist Ihr bester Begleiter auf Ihrem Weg zum E-Commerce! Vom Importieren von Bestellungen und Drucken von Etiketten bis hin zum Kommissionieren und Verpacken von Bestellungen zentralisiert diese Plattform alle Versandschritte, um Ihnen zu helfen, Ihren gesamten Lieferprozess zu vereinfachen und zu optimieren. Bereits mehr als 20.000 Online-Shops nutzen Packlink PRO und sparen mit dem Packlink PRO Versandmodul bis zu 70 % bei jedem Versand.</description>
    <copyright>(c) by Packlink Shipping S.L.</copyright>
    <license>proprietary</license>
    <link>https://pro.packlink.de/</link>
    <author>Packlink Shipping S.L.</author>
    <compatibility minVersion="5.2.0" />
    <changelog version="1.3.0">
        <changes>First release</changes>
        <changes lang="de">Erstveröffentlichung</changes>
    </changelog>
    <changelog version="1.3.1">
        <changes>Fixed marketplace code review issues</changes>
        <changes lang="de">Probleme bei der Überprüfung des Marktplatz-Codes behoben</changes>
    </changelog>
    <changelog version="1.3.2">
        <changes>Updated to the latest Core changes regarding changing the value of the marketing calls flag</changes>
        <changes lang="de">Aktualisiert auf die neuesten Core-Änderungen in Bezug auf die Änderung des Werts des Flags für Marketinganrufe</changes>
    </changelog>
    <changelog version="1.3.3">
        <changes>Added carrier logos for Colis Prive and Shop2Shop shipping services</changes>
        <changes lang="de">Carrier-Logos für Colis Prive und Shop2Shop-Versanddienste hinzugefügt</changes>
    </changelog>
    <changelog version="1.3.4">
        <changes>Added new webhook event.</changes>
        <changes lang="de">Neues Webhook-Ereignis hinzugefügt.</changes>
    </changelog>
    <changelog version="1.3.5">
        <changes>Added compatibility with PHP8.1.</changes>
        <changes lang="de">Kompatibilität mit PHP8.1 hinzugefügt.</changes>
    </changelog>
    <changelog version="1.3.6">
        <changes>Fix view on Packlink link.</changes>
        <changes lang="de">Die Ansicht des Packlink link wurde korrigiert.</changes>
    </changelog>
    <changelog version="1.3.7">
        <changes>Update Core to the latest version.</changes>
        <changes lang="de">Aktualisieren Sie Core auf die neueste Version.</changes>
    </changelog>
</plugin>
